.navbar {
  background-color:white;
  background-image: none;
  background-repeat: no-repeat;
 }
.inputs{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: cleft;
  color:white;
  background-color: transparent;
  padding: 27px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
}


input[type=text] {
  width: 100%;
  height: 200%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}




.image{
  background-image: url(websiteimages/images/image1);
}



.page-holder {
  
  background-size: contain;
}

.bg-cover {
  color: black;  

}



body{
  background-color: black;
}

  
 