
.text-block {
    position: absolute;
    bottom: -200px;
    right: 700px;
    
  }
  


input[type=text], select, textarea {
    width: 100%; 
    padding: 3em;  
    border: 1em solid #ccc; 
    border-radius: 1em; 
    box-sizing: border-box; 
    margin-top: 1em; 
    margin-bottom: 1em; 
    resize: horizontal 
  }
  
  
  input[type=submit] {
    background-color: rgb(5, 15, 5);
    color: white;
    padding: 1em 1em;
    border: none;
 
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
      padding: 1em;
      padding-top: 1em;
    background-color: grey;
  }
  
  .container {
    border-radius: 1em;
    background-color:lightgrey;
    padding-top: 1em;
    padding:1em;
  }

 