body{
    background-color:white;

}


.nav a{

    font-size: 6em !important;
}

.text-center{
    font-size: 1em;
padding-top: 2em;
}

.img-fluid{
   
        width: 100%;
        height: auto;
    
}
